<!DOCTYPE html>
<html>
<head>
    <title>{{ post.title }}</title>
</head>
<body>
    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>

    <h3>첨부 이미지</h3>
    {% for image in images %}
        <img src="{{ image.image.url }}" width="300" style="margin-bottom: 10px;"><br>
    {% empty %}
        <p>등록된 이미지가 없습니다.</p>
    {% endfor %}

    <br>
    <a href="{% url 'post_list' %}">목록으로</a>

    {% if request.user == post.author %}
        <a href="{% url 'update_post' post.pk %}">[게시글 수정]</a>
    {% endif %}
</body>
</html>
