<!DOCTYPE html>
<html>
<head>
    <title>글 목록</title>
</head>
<body>
    <h1>글 목록</h1>

    <form method="get" action="{% url 'post:post_list' %}">
        <input type="text" name="q" placeholder="검색어 (띄어쓰기 또는 쉼표로 구분)" value="{{ request.GET.q }}">
        
        <select name="field">
            <option value="all" {% if request.GET.field == "all" %}selected{% endif %}>전체</option>
            <option value="title" {% if request.GET.field == "title" %}selected{% endif %}>제목</option>
            <option value="content" {% if request.GET.field == "content" %}selected{% endif %}>내용</option>
        </select>
    
        <button type="submit">검색</button>
    </form>
    
    <ul>
        {% for post in posts %}
            <li>
                <strong><a href="{%url 'post:post_detail' pk=post.id %}">'{{ post.title }}</a></strong>
                <br>작성자: {{ post.author.username }}

                {% for image in post.images.all %}
                    <br><img src="{{ image.image.url }}" width="100">
                {% endfor %}
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'post:post_create' %}">➕ 글쓰기</a>
</body>
</html>
